// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: VerdanaArial, Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#main-content {
  margin-top: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel .carousel-indicators li {
  filter: invert(100%);
}

#download-cards {
  margin-top: 50px;
}

.download-card {
  margin: 0 0 30px 0;
  height: 580px;
}

.card-img-top {
  height: 370px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #343A40;
  border-top: 0;
  color: white;
}

.panel-footer section {
  font-size: 1.1em;
}

#links, #contacts, #technologies {
  line-height: 2;
}

#links > span, #contacts > span, #technologies > span {
  font-size: 1.4em;
}

.footer-link {
  color: #dadfe5;
}

.footer-link:hover, .footer-link:active {
  text-decoration: none;
  color: #adb5bc;
}

.panel-footer section hr {
  width: 50%;
  background-color: white;
}

#technologies p {
  color: gray;
}

.copyright-text {
  padding-top: 25px;
}

@media (max-width: 768px) {
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .copyright-text {
    padding-top: 0;
  }

  .download-card {
    height: 250px;
  }
}

@media (max-width: 425px) {
  .download-card {
    height: 220px;
  }
}

@media (max-width: 375px) {
  #brand-text {
    font-size: 1.0em;
  }

  .logo-img {
    background: url("/todo48.png");
    width: 48px;
    height: 48px;
  }

  #logo-image {
    width: 48px;
    height: 48px;
  }

  .download-card {
    height: 200px;
  }
}